body{
    background-color: #fafafa;
}

header {
    background-color: #ffca28;
    color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    margin: 0;
}

header h1 a {
    color: #ffca28;
    text-decoration: none;
}

footer {
  padding: 0 18px;
  margin: 6px auto;
  color: #858585;
  width: 964px;
  text-align: center;
  position: fixed; /* Подвал как приклеенный */
  bottom: 0; /* Фиксация снизу */
  left: 0; /* К началу слева */
  right: 0; /* Без отступов справа */
  height: 50px; /* Задаем высоту */
}

button{
    transition: 0.5s;
    padding: 8px 20px;
    color: white;
    background-color: #333;
    border: 2px solid #333;
    border-radius: 5px;
}

button:hover{
    transition: 0.5s;
    background-color: #525252;
}

.form-group {
	margin-bottom: 20px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"],
textarea,
input[type="file"],[type="password" i],[type="email" i] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

input[type="submit"]{
    transition: 0.5s;
    padding: 8px 20px;
    color: white;
    background-color: #333;
    border: 2px solid #333;
    border-radius: 5px;
}

input[type="submit"]:disabled{
    transition: 0.5s;
    background-color: #858585;
    border: 2px solid #858585;
}

section{
    max-width: 400px;
	margin: 20px auto;
	padding: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #333;
}

a{
    color: #333;
}

main{
    max-width: 80%;
	margin: 20px auto;
	padding: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #333;
    z-index: 1;
}

modal{
    display: none;
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0,0,0); /* Цвет запасной вариант */
    background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
}

.modal-content {
  background-color: #fefefe;
  margin: 6% auto; /* 15% сверху и по центру */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Может быть больше или меньше, в зависимости от размера экрана */
  border-radius: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}